/*------------------------- Layout styles ------------------------*/ 
body {
    margin: 0;
    background: #fff;
}
.page {
    background: #fff;
}

table {
    width: 100%;
}


/*------------------------- Font ------------------------*/ 
@font-face {
    font-family: 'Quattrocento Sans', sans-serif;
}

/*------------------------- Header ------------------------*/ 
.header {
    background: #eee;
    width: 940px;
    margin: 0 auto;
    height: 60px;
    padding: 0px 10px 0;
}
.header a#logo {
    display: block;
    float: left;
    outline: none;
}
.header a#logo img {
    border: 0;
}
.header ul {
    margin: 0;
    list-style: none;
    padding: 10px 0 0;
    float: right;
}
.header ul li {
    float: left;
    margin: 0 0 0 35px;
}
.header ul li.selected a,.header ul li a:hover {
    color: #f78117;
}
.header ul li a {
    font-size: 1em;
    text-decoration: none;
    color: #000000;
    font-family: 'Quattrocento Sans', sans-serif;
    outline: none;
}

/*------------------------- Body ------------------------*/ 
.body {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
}
.body div#content {
    padding: 0 0 17px;
}
.body div#content h1 {
    color: #f78117;
    font-size: 1.4em;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: normal;
}
.body div#content h2 {
    color:#f78117;
    font-size: 1.2em;
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 30px 0 5px;
    font-weight:normal;
}
.body div#content h3{
    color:#f78117;
    font-size: 1.1em;
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 30px 0 5px;
    font-weight:normal;
}
.body div#content p{
    color: #000000;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1em;
    text-shadow: 0 1px 0 #fcfcfc;
    text-align: justify;
}
.body div#content input {
    width: 260px;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #000;
    font-size: 1em;
    margin: 0px 0px 0px 0px;
}
.body div#content input#id_monday_enabled,
.body div#content input#id_monday_bookable_from, 
.body div#content input#id_monday_bookable_to,
.body div#content input#id_monday_not_bookable_from, 
.body div#content input#id_monday_not_bookable_to,
.body div#content input#id_tuesday_enabled,
.body div#content input#id_tuesday_bookable_from, 
.body div#content input#id_tuesday_bookable_to,
.body div#content input#id_tuesday_not_bookable_from, 
.body div#content input#id_tuesday_not_bookable_to,
.body div#content input#id_wednesday_enabled,
.body div#content input#id_wednesday_bookable_from, 
.body div#content input#id_wednesday_bookable_to,
.body div#content input#id_wednesday_not_bookable_from, 
.body div#content input#id_wednesday_not_bookable_to,
.body div#content input#id_thursday_enabled,
.body div#content input#id_thursday_bookable_from, 
.body div#content input#id_thursday_bookable_to,
.body div#content input#id_thursday_not_bookable_from, 
.body div#content input#id_thursday_not_bookable_to,
.body div#content input#id_friday_enabled,
.body div#content input#id_friday_bookable_from, 
.body div#content input#id_friday_bookable_to,
.body div#content input#id_friday_not_bookable_from, 
.body div#content input#id_friday_not_bookable_to,
.body div#content input#id_saturday_enabled,
.body div#content input#id_saturday_bookable_from, 
.body div#content input#id_saturday_bookable_to,
.body div#content input#id_saturday_not_bookable_from, 
.body div#content input#id_saturday_not_bookable_to,
.body div#content input#id_sunday_enabled,
.body div#content input#id_sunday_bookable_from, 
.body div#content input#id_sunday_bookable_to,
.body div#content input#id_sunday_not_bookable_from, 
.body div#content input#id_sunday_not_bookable_to {
    width: 50px;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #000;
    margin: 0px 0px 0px 0px;
}
.body div#content textarea{
    height: 140px;
    width: 400px;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #000;
    font-size: 1em;
    margin: 0px 0px 0px 0px;
}
.body div#content th{
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: left;
    color: #000;
    font-size: 1em;
}
.body div#content td{
    font-family: 'Quattrocento Sans', sans-serif;
    color: #000;
    font-size: 1em;
}
.body div#content td.error {
    color: #F00;
}
.body div#content ul{
    margin: 0;
    list-style: none;
    padding: 1em 0 0;
}
.body div#content ul li{
    margin: 0 0 0 63px;
}
.body div#content ul li a:hover{
    color: #f78117;
}
.body div#content ul li a {
    font-size: 1em;
    text-decoration: none;
    color: #000000;
    font-family: 'Quattrocento Sans', sans-serif;
    outline: none;
}
.body div#featured {
    background: #fff;
    padding: 0 0 17px;
}
.body div#featured h1 {
    color: #f78117;
    font-size: 1.4em;
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0 0 30px;
    width: 490px;
    padding: 30px 0 0;
    font-weight: normal;
}
.body div#featured h2{
    color: #f78117;
    font-size: 1.2em;
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0 0 30px;
    width: 490px;
    padding: 30px 0 0;
    font-weight: normal;
}
.body div#featured h3{
    color: #f78117;
    font-size: 1.1em;
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0 0 30px;
    width: 490px;
    padding: 30px 0 0;
    font-weight: normal;
}
.body div#featured p{
    width: 480px;
    color: #000000;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1em;
    text-shadow: 0 1px 0 #fcfcfc;
    text-align: justify;
}
.body h3{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1em;
    font-weight:bold;
    color:#636363;
    margin:15px 0 0;
}
.body p{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1em;
    text-align:justify;
    color:#636363;
}
.body p a {
    outline: none;
    color: #636363;
}
.body ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.body ul li div.featured {
    background: #fff;
    width: 281px;
    height: 292px;
    text-align: center;
    margin: 0;
}
.body ul li div.featured img{
    margin:10px 0 0 -3px;
    border:0;
}
.body ul li div.featured ul{
    overflow:hidden;
    margin:2px 0 0 10px;
}
.body ul li div.featured ul li:first-child{
    margin:0;
}
.body ul li div.featured ul li{
    float:left;
    margin:0 0 0 18px;
    background:none;
    padding:0;
}
.body ul li div.featured ul li a{
    padding:0;
}
.body ul li div.featured ul li a img{
    margin:0;
}
.body ul li div.featured a{
    clear:both;
    display:block;
    font-size: 1em;
    font-family: 'Quattrocento Sans', sans-serif;
    text-decoration:none;
    color:#8a8889;
    font-weight:bold;
    padding:5px 0 0;
    width:auto;
    outline:none;
}
.body ul li div h3{
    margin:0;
    font-size: 1em;
    font-weight:bold;
    font-family: 'Quattrocento Sans', sans-serif;
    color:#f28220;
}
.body ul li div p{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1em;
    color: #5D5D5D;
    padding: 0 0 90px;
    margin: 0;
}

/*------------------------- Footer ------------------------*/ 
.footer {
    width: 940px;
    background: #fff;
    padding: 65px 10px 30px;
    margin: 0 auto;
    overflow: hidden;
}
.footer p {
    color: #5b5b5b;
    font-size: 0.7em;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    float: left;
    margin: 6px 0 0 100px;
}

/*************************
    TWO COLUMNS
*************************/

div#left-side-content {
    float: left;
    width: 600px;
}

/*************************
    CALENDAR
*************************/
div#left-side-content div#calendar {
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: left;
    color: #000;
    font-size: 1em;
}

div#left-side-content div#header {
    text-align: center;
    font-size: 1.1em;
}

div#left-side-content div#day {
    float: left;
    text-align: center;
    margin-right: 5px;
    width: 80px;
    font-size: 0.8em;
}

div#left-side-content div#day div#day-header {
    text-transform: capitalize;
}

div#left-side-content div#day div#timeslot {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    font-size: 1em;
}

div#left-side-content div#day div#timeslot.bookable {
    background: rgb(205,235,142); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
}
div#left-side-content div#day div#timeslot.bookable:hover {
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.75);
}

div#left-side-content div#day div#timeslot.not-bookable {
    background: rgb(254,187,187); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,187,187,1)), color-stop(45%,rgba(254,144,144,1)), color-stop(100%,rgba(255,92,92,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
}

#clear { clear: both; }

.pointer {
    cursor: pointer;
}

div#page-sub-menu {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1em;
    
    margin-bottom: 20px;
}

div#page-sub-menu span {
    padding-left: 10px;
    padding-right: 10px;
    color: #f78117;
}

div#page-sub-menu span:hover { color: #000; }

/* CALENDAR EDIT PAGE */
div#upcoming-bookings { display: none; }
div#schedule { display: none; }
div#booking-types { display: none; }
div#calendar-details { display: none; }