/*------------------------- Layout styles ------------------------*/ 
body{
    margin:0;
    background:url(../images/bg-body.jpg);
}
.page{
    background:url(../images/bg-header.jpg) no-repeat center top;
}

/*------------------------- Font ------------------------*/ 
@font-face {
    font-family: 'Pontano Sans', sans-serif;
}

/*------------------------- Header ------------------------*/ 
.header{
    background:url(../images/bg-navigation.jpg) no-repeat center 90px;
    width:940px;
    margin:0 auto;
    height:105px;
    padding:36px 10px 0;
}
.header a#logo{
    display:block;
    float:left;
    outline:none;
}
.header a#logo img{
    border:0;
}
.header ul{
    margin:0;
    list-style:none;
    padding:13px 0 0;
    float:right;
}
.header ul li{
    float:left;
    margin:0 0 0 63px;
}
.header ul li.selected a,.header ul li a:hover{
    color:#f78117;
}
.header ul li a{
    font-size: 1em;
    text-decoration: none;
    color: #5e5e5e;
    font-family: 'Pontano Sans', sans-serif;
    outline: none;
}

/*------------------------- Body ------------------------*/ 
.body{
    width:940px;
    margin:0 auto;
    padding:0 10px;
    overflow:hidden;
}
.body div#content{
    padding:0 0 17px;
}
.body div#content h1{
    color:#f78117;
    font-size: 1.4em;
    font-family: 'Pontano Sans', sans-serif;
    font-weight:normal;
}
.body div#content h2{
    color:#f78117;
    font-size: 1.2em;
    font-family: 'Pontano Sans', sans-serif;
    margin:0 0 30px;
    font-weight:normal;
}
.body div#content h3{
    color:#f78117;
    font-size: 1.1em;
    font-family: 'Pontano Sans', sans-serif;
    margin:0 0 30px;
    font-weight:normal;
}
.body div#content p{
    color: #5d5d5d;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1em;
    line-height: 25px;
    text-shadow: 0 1px 0 #fcfcfc;
    text-align: justify;
    margin: 0;
}
.body div#content input {
    width: 260px;
    font-family: 'Pontano Sans', sans-serif;
    color: #000;
    font-size: 1em;
    margin: 0px 0px 0px 0px;
}
.body div#content input#id_monday_enabled,
.body div#content input#id_monday_bookable_from, 
.body div#content input#id_monday_bookable_to,
.body div#content input#id_monday_not_bookable_from, 
.body div#content input#id_monday_not_bookable_to,
.body div#content input#id_tuesday_enabled,
.body div#content input#id_tuesday_bookable_from, 
.body div#content input#id_tuesday_bookable_to,
.body div#content input#id_tuesday_not_bookable_from, 
.body div#content input#id_tuesday_not_bookable_to,
.body div#content input#id_wednesday_enabled,
.body div#content input#id_wednesday_bookable_from, 
.body div#content input#id_wednesday_bookable_to,
.body div#content input#id_wednesday_not_bookable_from, 
.body div#content input#id_wednesday_not_bookable_to,
.body div#content input#id_thursday_enabled,
.body div#content input#id_thursday_bookable_from, 
.body div#content input#id_thursday_bookable_to,
.body div#content input#id_thursday_not_bookable_from, 
.body div#content input#id_thursday_not_bookable_to,
.body div#content input#id_friday_enabled,
.body div#content input#id_friday_bookable_from, 
.body div#content input#id_friday_bookable_to,
.body div#content input#id_friday_not_bookable_from, 
.body div#content input#id_friday_not_bookable_to,
.body div#content input#id_saturday_enabled,
.body div#content input#id_saturday_bookable_from, 
.body div#content input#id_saturday_bookable_to,
.body div#content input#id_saturday_not_bookable_from, 
.body div#content input#id_saturday_not_bookable_to,
.body div#content input#id_sunday_enabled,
.body div#content input#id_sunday_bookable_from, 
.body div#content input#id_sunday_bookable_to,
.body div#content input#id_sunday_not_bookable_from, 
.body div#content input#id_sunday_not_bookable_to {
    width: 50px;
    font-family: 'Pontano Sans', sans-serif;
    color: #000;
    margin: 0px 0px 0px 0px;
}
.body div#content textarea{
    height: 140px;
    width: 400px;
    font-family: 'Pontano Sans', sans-serif;
    color: #000;
    font-size: 1em;
    margin: 0px 0px 0px 0px;
}
.body div#content th{
    font-family: 'Pontano Sans', sans-serif;
    text-align: left;
    color: #000;
    font-size: 1em;
}
.body div#content td{
    font-family: 'Pontano Sans', sans-serif;
    color: #000;
    font-size: 1em;
}
.body div#content td.error {
    color: #F00;
}
.body div#content ul{
    margin: 0;
    list-style: none;
    padding: 1em 0 0;
}
.body div#content ul li{
    margin: 0 0 0 63px;
}
.body div#content ul li a:hover{
    color: #f78117;
}
.body div#content ul li a {
    font-size: 1em;
    text-decoration: none;
    color: #5e5e5e;
    font-family: 'Pontano Sans', sans-serif;
    outline: none;
}
.body div#featured {
    background: url(../images/house.jpg) no-repeat right top;
    height: 448px;
    padding: 0 0 17px;
}
.body div#featured h1 {
    color: #f78117;
    font-size: 1.4em;
    font-family: 'Pontano Sans', sans-serif;
    margin: 0 0 30px;
    width: 490px;
    padding: 30px 0 0;
    font-weight: normal;
}
.body div#featured h2{
    color: #f78117;
    font-size: 1.2em;
    font-family: 'Pontano Sans', sans-serif;
    margin: 0 0 30px;
    width: 490px;
    padding: 30px 0 0;
    font-weight: normal;
}
.body div#featured h3{
    color: #f78117;
    font-size: 1.1em;
    font-family: 'Pontano Sans', sans-serif;
    margin: 0 0 30px;
    width: 490px;
    padding: 30px 0 0;
    font-weight: normal;
}
.body div#featured p{
    width: 480px;
    color: #5d5d5d;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1em;
    line-height: 25px;
    text-shadow: 0 1px 0 #fcfcfc;
    text-align: justify;
    margin: 0;
}
.body h3{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1em;
    font-weight:bold;
    color:#636363;
    margin:15px 0 0;
    line-height:21px;
}
.body p{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1em;
    text-align:justify;
    color:#636363;
    margin:0 0 20px;
    line-height:21px;
}
.body p a{
    outline:none;
    color:#636363;
}
.body ul{
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

.body ul li div.featured{
    background:url(../images/interface.jpg) no-repeat 0 -68px;
    width:281px;
    height:292px;
    text-align: center;
    margin:0;
}
.body ul li div.featured img{
    margin:10px 0 0 -3px;
    border:0;
}
.body ul li div.featured ul{
    overflow:hidden;
    margin:2px 0 0 10px;
    
}
.body ul li div.featured ul li:first-child{
    margin:0;
}
.body ul li div.featured ul li{
    float:left;
    margin:0 0 0 18px;
    background:none;
    padding:0;
}
.body ul li div.featured ul li a{
    padding:0;
}
.body ul li div.featured ul li a img{
    margin:0;
}
.body ul li div.featured ul li a img:hover{
    filter:alpha(opacity=80);
    opacity:0.8;
}
.body ul li div.featured a{
    clear:both;
    display:block;
    font-size: 1em;
    font-family: 'Pontano Sans', sans-serif;
    text-decoration:none;
    color:#8a8889;
    font-weight:bold;
    padding:5px 0 0;
    width:auto;
    outline:none;
}
.body ul li div h3{
    margin:0;
    font-size: 1em;
    font-weight:bold;
    font-family: 'Pontano Sans', sans-serif;
    color:#f28220;
    line-height:22px;
}
.body ul li div p{
    line-height:22px;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1em;
    color:#5D5D5D;
    padding:0 0 90px;
    margin:0;
}
.body ul.paging{
    margin:15px 0 10px 210px;
}
.body ul.paging li{
    float:left;
    padding:0 5px;
    background:none;
}
.body ul.paging li a{
    text-decoration:none;
    color:#ff7e0d;
    font-family: arial;
    font-size:12px;
}
.body ul.paging li a:hover{
    color:#5D5D5D;
}

/*------------------------- Footer ------------------------*/ 
.footer{
    width:940px;
    background:url(../images/bg-footer.jpg) no-repeat center top;
    padding:65px 10px 207px;
    margin:0 auto;
    overflow:hidden;
}
.footer ul{
    list-style:none;
    margin:0 0 0 60px;
    padding:0;
    overflow:hidden;
    float:left;
}
.footer ul li:first-child a{
    border:none;
    padding:0 6px 0 0;
}
.footer ul li{
    float:left;
}
.footer ul li a:hover{
    color:#F78117;
}
.footer ul li a{
    border-width: 1px;
    border-color:#5b5b5b;
    border-style: none none none solid;
    color:#5b5b5b;
    font-size: 1em;
    font-family: Trebuchet MS;
    text-decoration:none;
    font-weight:bold;
    padding:0 6px;
    outline:none;
}
.footer p{
    color:#5b5b5b;
    font-size: 1em;
    font-family: Trebuchet MS;
    font-weight:bold;
    float:left;
    margin:6px 0 0 135px;
}
.footer div.connect{
    float:left;
    margin:0 0 0 92px;
}
.footer div.connect a{
    float:left;
    outline:none;
}
.footer div.connect a#facebook{
    width:27px;
    height:28px;
    display:block;
    text-indent:-9999px;
    background:url(../images/icons.gif) no-repeat;
}
.footer div.connect a#twitter{
    width:36px;
    height:28px;
    display:block;
    text-indent:-9999px;
    background:url(../images/icons.gif) no-repeat 0 -48px;
    margin:0 0 0 68px;
}
.footer div.connect a#vimeo{
    width:32px;
    height:28px;
    display:block;
    text-indent:-9999px;
    background:url(../images/icons.gif) no-repeat 0 -96px;
    margin:0 0 0 73px;
}
.red_background {
    background: #FF665A;
}

/*************************
    TWO COLUMNS
*************************/

div#left-side-content {
    float: left;
    width: 600px;
}

/*************************
    CALENDAR
*************************/
div#left-side-content div#calendar {
    font-family: 'Pontano Sans', sans-serif;
    text-align: left;
    color: #000;
    font-size: 1em;
}

div#left-side-content div#header {
    text-align: center;
    font-size: 1.1em;
}

div#left-side-content div#day {
    float: left;
    text-align: center;
    margin-right: 5px;
    width: 80px;
    font-size: 0.8em;
}

div#left-side-content div#day div#day-header {
    text-transform: capitalize;
}

div#left-side-content div#day div#timeslot {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    font-size: 1em;
}

div#left-side-content div#day div#timeslot.bookable {
    background: rgb(205,235,142); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
}
div#left-side-content div#day div#timeslot.bookable:hover {
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.75);
}

div#left-side-content div#day div#timeslot.not-bookable {
    background: rgb(254,187,187); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,187,187,1)), color-stop(45%,rgba(254,144,144,1)), color-stop(100%,rgba(255,92,92,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
}

#clear { clear: both; }

.pointer {
    cursor: pointer;
}

div#page-sub-menu {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1em;
    
    margin-bottom: 20px;
}

div#page-sub-menu span {
    padding-left: 10px;
    padding-right: 10px;
    color: #f78117;
}

div#page-sub-menu span:hover { color: #000; }
