{% extends "template.html" %}

{% block logo %}
    {% if calendar.logo %} 
        <a href="/" id="logo"><img src="{{MEDIA_URL}}{{calendar.logo}}" alt=""/></a>
    {% endif %}
{% endblock %}

{% block content %}
<div id="content">
    <div id="left-side-content">
        <h1>Time booking - {{bookingtype.title}}</h1>
        <h2>Description</h2>
        <p>
            {{bookingtype.description}}
        </p><br />
        <h2>Make booking</h2>
        <form method='post' action=''>{% csrf_token %}
        <table>
            <tr>
                <th>Time</th>
                <td>{{timeslot}}</td>
            <tr>
                <th>Date</th>
                <td>{{date}}</td>
            </tr>
            <tr>
                <th>Length</th>
                <td>{{bookingtype.length}} min</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{bookingtype.price}} {{bookingtype.currency}}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td><textarea name='comment'></textarea></td>
            </tr>
            <tr><td colspan='2'>&nbsp;</td></tr>
            <tr>
                <td colspan='2'>
                    <input type="button" value="Back to calendar" onClick="javascript: history.go(-1)"><input type='submit' value='Book time'>
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div id="right-side-content">
        <h2>{{calendar.title}}</h2>
        <p>
            {{calendar.description|linebreaks}}
        </p>
        
        {% if calendar.url %}<br /><p>External webpage: <a href='{{calendar.url}}' target='_blank'>{{calendar.url}}</a></p>{% endif %}
    </div>
    <div id='clear'></div>
</div>
{% endblock %}