{% extends "template.html" %}
{% load calendar %}

{% block logo %}
    {% if calendar.logo %} 
        <a href="/" id="logo"><img src="{{MEDIA_URL}}{{calendar.logo}}" alt=""/></a>
    {% endif %}
{% endblock %}

{% block content %}
<div id="content">
    <div id="left-side-content">
        {% if booking_type != 'not-set' %}
            <div>
                <h2>Choose booking type</h2>
                <p>
                    What do you want to book?
                    <select id='booking_types_select'>
                        <option value='not-set'>-- Select booking type --</option>
                        {% for bt in booking_types %}
                            {% if bt.id == booking_type %}
                                <option value='{{bt.id}}' selected="selected">{{bt}}</option>
                            {% else %}
                                <option value='{{bt.id}}'>{{bt}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </p>
            </div><br />
            <div id="calendar">
                <div id="header">
                    <a href='/calendar/{{calendar.slug}}?start_date={{previous_week_start}}&booking_type={{booking_type}}'>&lt;</a>
                    Week {{week_number}}
                    <a href='/calendar/{{calendar.slug}}?start_date={{next_week_start}}&booking_type={{booking_type}}'>&gt;</a>
                </div>
                <br />
                {% for date in date_range %}
                    <div id="day">
                        <div id="day-header">
                            {{date|day_name}}<br />
                            {{date|short_date_format}}<br />
                        </div>
                        {% for timeslot, bookable in date|get_day_timeslots:timeslot_string %}
                            {% if bookable %}
                                <div    id="timeslot"
                                        class='bookable'
                                        onclick="location.href='/calendar/{{calendar.slug}}/book/{{schedule.id}}/{{booking_type}}?timeslot_start={{timeslot|get_timeslot_start}}&date={{date}}'">
                            {% else %}
                                <div id="timeslot" class='not-bookable'>
                            {% endif %}
                                {{timeslot}}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div style='height: 250px;'>
                <h2>Choose booking type</h2>
                <p>
                    What do you want to book?
                    <select id='booking_types_select'>
                        <option value='not-set'>-- Select booking type --</option>
                        {% for bt in booking_types %}
                            {% if bt.id == booking_type %}
                                <option value='{{bt.id}}' selected="selected">{{bt}}</option>
                            {% else %}
                                <option value='{{bt.id}}'>{{bt}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </p>
            </div>
        {% endif %}
    </div>
    <div id="right-side-content">
        <h2>{{calendar.title}}</h2>
        <p>
            {{calendar.description|linebreaks}}
        </p>
        
        {% if calendar.url %}<br /><p>External webpage: <a href='{{calendar.url}}' target='_blank'>{{calendar.url}}</a></p>{% endif %}        
        {% if is_owner %}<br /><p><a href='/calendars/edit/{{calendar.id}}'>Edit calendar</a></p><br />{% endif %}
    </div>
    <div id='clear'></div>
</div>
<script type='text/javascript'>
    $('#booking_types_select').change(function(){
        if ($('#booking_types_select option:selected').val() != 'not-set') {
            location.href = '/calendar/{{calendar.slug}}?booking_type=' + $('#booking_types_select option:selected').val();
        } else {
            location.href = '/calendar/{{calendar.slug}}';
        }   
    });
</script>
{% endblock %}