{% extends "template.html" %}
{% block content %}
<div id="content">
    <h3>Login</h3>
    <form method='post' action=''>{% csrf_token %}
    <table ="table">
        {% for field in form %}
            <tr>
                <th>{{field.label}}</th>
                <td>
                    {{field}}
                    {% if error %}
                        <br />{{error_message}}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>&nbsp;</td>
            <td><input type='submit' value='Login'></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Have you <a href="/accounts/lost_password">forgot your password?</a></td>
        </tr>
    </table>
    </form>
</div>
{% endblock %}