{% extends "template.html" %}
{% block content %}
<div id="content">
    <h3>Register a new account</h3>
    <form name="registerForm" method='post' action=''>{% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <th>{{field.label}}</th>
                    <td>
                        {{field}}
                        {% for error in field.errors %}
                            <br />{{error}}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type='submit' value='Register'>
                </td>
            </tr>
        </table>
        <p></p>
    </form>
</div>
{% endblock %}