<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Booking Beaver</title>
        <link rel="stylesheet" href="{{MEDIA_URL}}css/style.css" type="text/css" />
        <!--[if IE 7]>
            <link rel="stylesheet" href="css/ie7.css" type="text/css" />
        <![endif]-->
        <script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="page">
            <div class="header">
                <!--a href="/" id="logo"><img src="{{MEDIA_URL}}images/logo.gif" alt=""/></a-->
                <ul>
                    <li><a href="/">Home</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="/calendars/list">My calendars</a></li>
                        <li><a href="/accounts/settings">Settings</a></li>
                        <li><a href="/accounts/logout">Log out</a></li>
                    {% else %}
                        <li><a href="/out-offer">Our offer &amp; pricing</a></li>
                        <li><a href="/contact-us">Contact us</a></li>
                        <li><a href="/accounts/register">Register</a></li>
                        <li><a href="/accounts/login">Log in</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="body">
                {% block content %}
                <div id="featured">
                    <h3>This is a FREE website template</h3>
                    <p>This website template has been designed by Free Website Templates for you, for free. You can
                    replace all this text with your own text. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                    enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
                    <input type="button" value="Read more" onClick="parent.location='blog.html'"/>
                </div>
                <ul class="blog">
                    <li>
                        <div>
                            <a href="blog.html"><img src="{{MEDIA_URL}}images/pastries.jpg" alt=""/></a>
                            <p>This website template has been designed by Free Website Templates for you, for free.
                            You can replace all this text with your own text.</p>
                            <a href="blog.html">Click to read more</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="blog.html"><img src="{{MEDIA_URL}}images/fruits.jpg" alt=""/></a>
                            <p>This website template has been designed by Free Website Templates for you, for free.
                            You can replace all this text with your own text.</p>
                            <a href="blog.html">Click to read more</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="blog.html"><img src="{{MEDIA_URL}}images/cosmetics.jpg" alt=""/></a>
                            <p>This website template has been designed by Free Website Templates for you, for free.
                            You can replace all this text with your own text.</p>
                            <a href="blog.html">Click to read more</a>
                        </div>
                    </li>
                </ul>
                {% endblock %}
            </div>
            <div class="footer">
                <p>&#169; Copyright &#169; 2012. Booking Beaver all rights reserved</p>
                <div class="connect">
                    <a href="http://facebook.com/freewebsitetemplates" id="facebook">facebook</a>
                    <a href="http://twitter.com/fwtemplates" id="twitter">twitter</a>
                    <a href="http://www.youtube.com/fwtemplates" id="vimeo">vimeo</a>
                </div>
            </div>
        </div>
    </body>
</html>  