<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Booking Beaver</title>
        <link rel="stylesheet" href="{{MEDIA_URL}}css/style.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>
        <!--[if IE 7]>
            <link rel="stylesheet" href="css/ie7.css" type="text/css" />
        <![endif]-->
        <script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
                
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="page">
            <div class="header">
                {% block logo %}
                <!--a href="/" id="logo"><img src="{{MEDIA_URL}}images/logo.gif" alt=""/></a-->
                {% endblock %}
                <ul>
                    <li><a href="/">Home</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="/calendars/list">My calendars</a></li>
                        <li><a href="/accounts/{{request.user.id}}/settings">Account settings</a></li>
                        <li><a href="/accounts/logout">Log out</a></li>
                    {% else %}
                        <li><a href="/out-offer">Our offer &amp; pricing</a></li>
                        <li><a href="/contact-us">Contact us</a></li>
                        <li><a href="/accounts/register">Register</a></li>
                        <li><a href="/accounts/login">Log in</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="body">
                {% block content %}
                {% endblock %}
            </div>
            <div class="footer">
                <p>&#169; Copyright &#169; 2012. Booking Beaver all rights reserved</p>
            </div>
        </div>
    </body>
</html>  