{% extends "template.html" %}

{% block head %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery.dataTables.css" type="text/css" />
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    /* Update the URL as the user types */
    $('input#id_slug').keyup(function(){
        $('span#calendar-url').html($('input#id_slug').val());
    });

} );
</script>
{% endblock %}

{% block content %}
<div id="content">
    <h1>Create a new calendar</h1>
    <form enctype="multipart/form-data" method='post' action=''>{% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <th>{{field.label}}</th>
                    <td>
                        {% if field.label == 'URL' %}
                            {{field}} {{external_url}}<span id="calendar-url">{% if field.value %}{{field.value}}{% endif %}</span>
                        {% else %}
                            {{field}}
                        {% endif %}
                        {% for error in field.errors %}
                            <br />{{error}}
                        {% endfor %}
                    </td>
                </tr>
                {% if field.help_text %}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        {{field.help_text}}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type='submit' value='Create calendar'>
                </td>
            </tr>
        </table>
        <p></p>
    </form>
</div>
{% endblock %}