{% extends "template.html" %}

{% block head %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery.dataTables.css" type="text/css" />
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#booking_type_table').dataTable({
        "iDisplayLength": 20,
        "aLengthMenu": [[1, 20, 50, -1], [1, 20, 50, "All"]],
        "sPaginationType": "full_numbers",
        "bPaginate": false,
        "bLengthChange": false,
        "bInfo": false,
        "bFilter": false,
    });
} );
</script>
{% endblock %}

{% block content %}
<div id="content">
    <h1>{{calendar.title}}</h1>
    {% if updated %}
        <p>Your calendar has been updated</p>
    {% endif %}
    <form method='post' action=''>{% csrf_token %}
        <h2>Edit calendar details</h2>
        <table>
            {% for field in form %}
                <tr>
                    <th>{{field.label}}</th>
                    <td>
                        {% if field.label == 'URL' %}
                            {{external_url}}
                        {% endif %}
                        {{field}}
                        {% for error in field.errors %}
                            <br />{{error}}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            {% for field in formset %}
                <tr>
                    <th>{{field.label}}</th>
                    <td>
                        {% if field.label == 'URL' %}
                            {{external_url}}
                        {% endif %}
                        {{field}}
                        {% for error in field.errors %}
                            <br />{{error}}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type='submit' value='Save changes'>
                </td>
            </tr>
        </table>
        <p></p>
    </form>
    <br />
    <h2>Booking types</h2>
    {% if booking_types|length > 0 %}
        <p>
            <a href='/bookingtypes/create/{{calendar.id}}'>Add booking type</a>
        </p>
        <p>
            <table id="booking_type_table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Length</th>
                        <th>Price</th>
                        <th>Enabled?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking_type in booking_types %}
                        <tr onclick="location.href='/bookingtypes/{{booking_type.id}}/edit'">
                            <td>{{booking_type.title}}</a></td>
                            <td>{{booking_type.length}} minutes</td>
                            <td>{{booking_type.price}} {{booking_type.currency}}</td>
                            <td>
                                {% if booking_type.enabled %}Yes{% else %}No{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </p>
    {% else %}
        <p>
            You have no booking types yet. Do you want to 
            <a href='/bookingtypes/create/{{calendar.id}}'>create a new booking type</a>?
        </p>
    {% endif %}
    <br />
    <h2>Schedule</h2>
    <p>
        Manage the opening times and lunch breaks in the 
        <a href='/schedules/{{schedule.id}}/edit'>schedule editor</a>.
    </p>
</div>
{% endblock %}
