{% extends "template.html" %}
{% block content %}
<div id="content">
    <h1>Your calendars</h1>
    <p><a href='/calendars/create'>Create a new calendar</a></p>
    {% if has_calendars %}
        <ul>
            {% for calendar in calendars %}
                <li><a href='/calendars/edit/{{calendar.id}}'>{{calendar.title}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            You do not have any calendars yet. Do you want to 
            <a href='/calendars/create'>create one now?</a>
        </p>
    {% endif %}
</div>
{% endblock %}