{% extends "template.html" %}
{% block content %}
<div id="content">
    <h1>Your calendars</h1>
    {% if has_calendars %}
        <p>
            <a href='/calendars/create'>Create a new calendar</a>
        </p>
        <ul>
            {% for calendar in calendars %}
                <li>
                    <a href='/calendars/edit/{{calendar.id}}'>{{calendar.title}}</a>
                    (<a href='{{external_url}}{{calendar.url}}'>public view</a>)
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            You do not have any calendars yet. Do you want to 
            <a href='/calendars/create'>create one now?</a>
        </p>
    {% endif %}
</div>
{% endblock %}