{% extends "template.html" %}

{% block head %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery.dataTables.css" type="text/css" />
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#calendar_table').dataTable({
        "iDisplayLength": 20,
        "aLengthMenu": [[1, 20, 50, -1], [1, 20, 50, "All"]],
        "sPaginationType": "full_numbers",
        "bPaginate": false,
        "bLengthChange": false,
        "bInfo": false,
        "bFilter": false,
    });
} );
</script>
{% endblock %}

{% block content %}
<div id="content">
    <h1>Your calendars</h1>
    {% if has_calendars %}
        <p>
            <a href='/calendars/create'>Create a new calendar</a>
        </p>
        <p>
            <table id="calendar_table">
                <thead>
                    <tr>
                        <th>Calendar</th>
                        <th>Published?</th>
                        <th>Public link</th>
                    </tr>
                </thead>
                <tbody>
                    {% for calendar in calendars %}
                        <tr>
                            <td><a href='/calendars/{{calendar.id}}/edit'>{{calendar.title}}</a></td>
                            {% if calendar.enabled %}
                                <td>Yes</td><td><a href='{{external_url}}{{calendar.slug}}'>public link</a></td>
                            {% else %}
                                <td>No</td><td>&nbsp;</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </p>
    {% else %}
        <p>
            You do not have any calendars yet. Do you want to 
            <a href='/calendars/create'>create one now</a>?
        </p>
    {% endif %}
</div>
{% endblock %}
