{% extends "template.html" %}

{% block head %}
    <style type="text/css" media="all">@import "{{MEDIA_URL}}/css/timePicker.css";</style>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.timePicker.min.js"></script>
    <script type="text/javascript">
    
    /*
    * Validating bookable to fields
    */
    function validate_bookable_to(day) {
        if($.timePicker("#id_" + day + "_bookable_from").getTime() > $.timePicker('#id_' + day +'_bookable_to').getTime()) {
            $("input[type=submit]").attr("disabled", "disabled");
            $('#id_' + day +'_bookable_to').addClass('red_background');
            $('#' + day + '_error').html('Closing time cannot be earlier than opening time');
        } else {
            $("input[type=submit]").removeAttr("disabled");
            $('#id_' + day +'_bookable_to').removeClass('red_background');
            $('#' + day + '_error').html('&nbsp;');
        }
    }
    
    /*
    * Validating not bookable from fields
    */
    function validate_not_bookable_from(day) {
        if($.timePicker("#id_" + day + "_not_bookable_from").getTime() < $.timePicker("#id_" + day + "_bookable_from").getTime() || $.timePicker("#id_" + day + "_not_bookable_from").getTime() > $.timePicker('#id_' + day +'_bookable_to').getTime()) {
            $("input[type=submit]").attr("disabled", "disabled");
            $("#id_" + day + "_not_bookable_from").addClass('red_background');
            $('#' + day + '_error').html('Not bookable times cannot be outside opening hours');
        } else {
            $("input[type=submit]").removeAttr("disabled");
            $("#id_" + day + "_not_bookable_from").removeClass('red_background');
            $('#' + day + '_error').html('&nbsp;');
        }
    }
    
    /*
    * Validating not bookable to fields
    */
    function validate_not_bookable_to(day) {
        if($.timePicker("#id_" + day + "_not_bookable_to").getTime() < $.timePicker("#id_" + day + "_bookable_from").getTime() || $.timePicker("#id_" + day + "_not_bookable_to").getTime() > $.timePicker('#id_' + day +'_bookable_to').getTime()) {
            $("input[type=submit]").attr("disabled", "disabled");
            $("#id_" + day + "_not_bookable_to").addClass('red_background');
            $('#' + day + '_error').html('Not bookable times cannot be outside opening hours');
        } else {
            if($.timePicker("#id_" + day + "_not_bookable_to").getTime() < $.timePicker("#id_" + day + "_not_bookable_from").getTime()) {
                $("input[type=submit]").attr("disabled", "disabled");
                $("#id_" + day + "_not_bookable_to").addClass('red_background');
                $('#' + day + '_error').html('End of timespan cannot be earlier that the start');
            } else {
                $("input[type=submit]").removeAttr("disabled");
                $("#id_" + day + "_not_bookable_to").removeClass('red_background');
                $('#' + day + '_error').html('&nbsp;');
            }
        }
    }

    jQuery(function() {
        // Create the time pickers
        // More info about time picking on http://labs.perifer.se/timedatepicker/
        $("#id_monday_bookable_from").timePicker();
        $("#id_monday_bookable_to").timePicker();
        $("#id_tuesday_bookable_from").timePicker();
        $("#id_tuesday_bookable_to").timePicker();
        $("#id_wednesday_bookable_from").timePicker();
        $("#id_wednesday_bookable_to").timePicker();
        $("#id_thursday_bookable_from").timePicker();
        $("#id_thursday_bookable_to").timePicker();
        $("#id_friday_bookable_from").timePicker();
        $("#id_friday_bookable_to").timePicker();
        $("#id_saturday_bookable_from").timePicker();
        $("#id_saturday_bookable_to").timePicker();
        $("#id_sunday_bookable_from").timePicker();
        $("#id_sunday_bookable_to").timePicker();
        $("#id_monday_not_bookable_from").timePicker();
        $("#id_monday_not_bookable_to").timePicker();
        $("#id_tuesday_not_bookable_from").timePicker();
        $("#id_tuesday_not_bookable_to").timePicker();
        $("#id_wednesday_not_bookable_from").timePicker();
        $("#id_wednesday_not_bookable_to").timePicker();
        $("#id_thursday_not_bookable_from").timePicker();
        $("#id_thursday_not_bookable_to").timePicker();
        $("#id_friday_not_bookable_from").timePicker();
        $("#id_friday_not_bookable_to").timePicker();
        $("#id_saturday_not_bookable_from").timePicker();
        $("#id_saturday_not_bookable_to").timePicker();
        $("#id_sunday_not_bookable_from").timePicker();
        $("#id_sunday_not_bookable_to").timePicker();

        // Define validation onChange
        $("#id_monday_bookable_to").change(function() { validate_bookable_to('monday'); });
        $("#id_monday_not_bookable_from").change(function() { validate_not_bookable_from('monday'); });
        $("#id_monday_not_bookable_to").change(function() { validate_not_bookable_to('monday'); });
        $("#id_tuesday_bookable_to").change(function() { validate_bookable_to('tuesday'); });
        $("#id_tuesday_not_bookable_from").change(function() { validate_not_bookable_from('tuesday'); });
        $("#id_tuesday_not_bookable_to").change(function() { validate_not_bookable_to('tuesday'); });
        $("#id_wednesday_bookable_to").change(function() { validate_bookable_to('wednesday'); });
        $("#id_wednesday_not_bookable_from").change(function() { validate_not_bookable_from('wednesday'); });
        $("#id_wednesday_not_bookable_to").change(function() { validate_not_bookable_to('wednesday'); });
        $("#id_thursday_bookable_to").change(function() { validate_bookable_to('thursday'); });
        $("#id_thursday_not_bookable_from").change(function() { validate_not_bookable_from('thursday'); });
        $("#id_thursday_not_bookable_to").change(function() { validate_not_bookable_to('thursday'); });
        $("#id_friday_bookable_to").change(function() { validate_bookable_to('friday'); });
        $("#id_friday_not_bookable_from").change(function() { validate_not_bookable_from('friday'); });
        $("#id_friday_not_bookable_to").change(function() { validate_not_bookable_to('friday'); });
        $("#id_saturday_bookable_to").change(function() { validate_bookable_to('saturday'); });
        $("#id_saturday_not_bookable_from").change(function() { validate_not_bookable_from('saturday'); });
        $("#id_saturday_not_bookable_to").change(function() { validate_not_bookable_to('saturday'); });
        $("#id_sunday_bookable_to").change(function() { validate_bookable_to('sunday'); });
        $("#id_sunday_not_bookable_from").change(function() { validate_not_bookable_from('sunday'); });
        $("#id_sunday_not_bookable_to").change(function() { validate_not_bookable_to('sunday'); });
    });
    
    // Disable times if the day is not enabled
    $(document).ready(function(){
        if($('#id_monday_enabled').attr('checked') == true) {
            alert('dfs');
            $('#id_monday_bookable_to').attr('disabled', 'disabled')
        }
    });
    </script>
{% endblock %}

{% block content %}
<div id="content">
    <h1>Edit schedule ({{schedule}})</h1>
    {% if updated %}
        <p>Your changes has been saved</p>
    {% endif %}
    {% if form_invalid %}
        <p>The form did not validate</p>
    {% endif %}
    <form method='post' action=''>{% csrf_token %}
        <table>
            <tr>
                <th>&nbsp;</th>
                <th>Open</th>
                <th>Opening hours</th>
                <th>&nbsp;</th>
                <th>Not bookable between</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th>Monday</th>
                <td><input type="checkbox" name="monday_enabled" id="id_monday_enabled" {{values.monday_enabled}}></td>
                <td>
                    <input id="id_monday_bookable_from" type="text" name="monday_bookable_from" maxlength="40" value="{{values.monday_bookable_from}}">
                    to
                    <input id="id_monday_bookable_to" type="text" name="monday_bookable_to" maxlength="40" value="{{values.monday_bookable_to}}">
                </td>
                <td>&nbsp;</td>
                <td>
                    <input id="id_monday_not_bookable_from" type="text" name="monday_not_bookable_from" maxlength="200" value="{{values.monday_not_bookable_from}}">
                    and
                    <input id="id_monday_not_bookable_to" type="text" name="monday_not_bookable_to" maxlength="200" value="{{values.monday_not_bookable_to}}">
                </td>
                <td id='monday_error' class='error'>&nbsp;</td>
            </tr>
            <tr>
                <th>Tuesday</th>
                <td><input type="checkbox" name="tuesday_enabled" id="id_tuesday_enabled" {{values.tuesday_enabled}}></td>
                <td>
                    <input id="id_tuesday_bookable_from" type="text" name="tuesday_bookable_from" maxlength="40" value="{{values.tuesday_bookable_from}}">
                    to
                    <input id="id_tuesday_bookable_to" type="text" name="tuesday_bookable_to" maxlength="40" value="{{values.tuesday_bookable_to}}">
                </td>
                <td>&nbsp;</td>
                <td>
                    <input id="id_tuesday_not_bookable_from" type="text" name="tuesday_not_bookable_from" maxlength="200" value="{{values.tuesday_not_bookable_from}}">
                    and
                    <input id="id_tuesday_not_bookable_to" type="text" name="tuesday_not_bookable_to" maxlength="200" value="{{values.tuesday_not_bookable_to}}">
                </td>
                <td id='tuesday_error' class='error'>&nbsp;</td>
            </tr>
            <tr>
                <th>Wednesday</th>
                <td><input type="checkbox" name="wednesday_enabled" id="id_wednesday_enabled" {{values.wednesday_enabled}}></td>
                <td>
                    <input id="id_wednesday_bookable_from" type="text" name="wednesday_bookable_from" maxlength="40" value="{{values.wednesday_bookable_from}}">
                    to
                    <input id="id_wednesday_bookable_to" type="text" name="wednesday_bookable_to" maxlength="40" value="{{values.wednesday_bookable_to}}">
                </td>
                <td>&nbsp;</td>
                <td>
                    <input id="id_wednesday_not_bookable_from" type="text" name="wednesday_not_bookable_from" maxlength="200" value="{{values.wednesday_not_bookable_from}}">
                    and
                    <input id="id_wednesday_not_bookable_to" type="text" name="wednesday_not_bookable_to" maxlength="200" value="{{values.wednesday_not_bookable_to}}">
                </td>
                <td id='wednesday_error' class='error'>&nbsp;</td>
            </tr>
            <tr>
                <th>Thursday</th>
                <td><input type="checkbox" name="thursday_enabled" id="id_thursday_enabled" {{values.thursday_enabled}}></td>
                <td>
                    <input id="id_thursday_bookable_from" type="text" name="thursday_bookable_from" maxlength="40" value="{{values.thursday_bookable_from}}">
                    to
                    <input id="id_thursday_bookable_to" type="text" name="thursday_bookable_to" maxlength="40" value="{{values.thursday_bookable_to}}">
                </td>
                <td>&nbsp;</td>
                <td>
                    <input id="id_thursday_not_bookable_from" type="text" name="thursday_not_bookable_from" maxlength="200" value="{{values.thursday_not_bookable_from}}">
                    and
                    <input id="id_thursday_not_bookable_to" type="text" name="thursday_not_bookable_to" maxlength="200" value="{{values.thursday_not_bookable_to}}">
                </td>
                <td id='thursday_error' class='error'>&nbsp;</td>
            </tr>
            <tr>
                <th>Friday</th>
                <td><input type="checkbox" name="friday_enabled" id="id_friday_enabled" {{values.friday_enabled}}></td>
                <td>
                    <input id="id_friday_bookable_from" type="text" name="friday_bookable_from" maxlength="40" value="{{values.friday_bookable_from}}">
                    to
                    <input id="id_friday_bookable_to" type="text" name="friday_bookable_to" maxlength="40" value="{{values.friday_bookable_to}}">
                </td>
                <td>&nbsp;</td>
                <td>
                    <input id="id_friday_not_bookable_from" type="text" name="friday_not_bookable_from" maxlength="200" value="{{values.friday_not_bookable_from}}">
                    and
                    <input id="id_friday_not_bookable_to" type="text" name="friday_not_bookable_to" maxlength="200" value="{{values.friday_not_bookable_to}}">
                </td>
                <td id='friday_error' class='error'>&nbsp;</td>
            </tr>
            <tr>
                <th>Saturday</th>
                <td><input type="checkbox" name="saturday_enabled" id="id_saturday_enabled" {{values.saturday_enabled}}></td>
                <td>
                    <input id="id_saturday_bookable_from" type="text" name="saturday_bookable_from" maxlength="40" value="{{values.saturday_bookable_from}}">
                    to
                    <input id="id_saturday_bookable_to" type="text" name="saturday_bookable_to" maxlength="40" value="{{values.saturday_bookable_to}}">
                </td>
                <td>&nbsp;</td>
                <td>
                    <input id="id_saturday_not_bookable_from" type="text" name="saturday_not_bookable_from" maxlength="200" value="{{values.saturday_not_bookable_from}}">
                    and
                    <input id="id_saturday_not_bookable_to" type="text" name="saturday_not_bookable_to" maxlength="200" value="{{values.saturday_not_bookable_to}}">
                </td>
                <td id='saturday_error' class='error'>&nbsp;</td>
            </tr>
            <tr>
                <th>Sunday</th>
                <td><input type="checkbox" name="sunday_enabled" id="id_sunday_enabled" {{values.sunday_enabled}}></td>
                <td>
                    <input id="id_sunday_bookable_from" type="text" name="sunday_bookable_from" maxlength="40" value="{{values.sunday_bookable_from}}">
                    to
                    <input id="id_sunday_bookable_to" type="text" name="sunday_bookable_to" maxlength="40" value="{{values.sunday_bookable_to}}">
                </td>
                <td>&nbsp;</td>
                <td>
                    <input id="id_sunday_not_bookable_from" type="text" name="sunday_not_bookable_from" maxlength="200" value="{{values.sunday_not_bookable_from}}">
                    and
                    <input id="id_sunday_not_bookable_to" type="text" name="sunday_not_bookable_to" maxlength="200" value="{{values.sunday_not_bookable_to}}">
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan='3'>
                    <input type='submit' id="saveBtn" value='Save changes'>
                </td>
            </tr>
            <td id='sunday_error' class='error'>&nbsp;</td>
        </table>
        <p></p>
    </form>
</div>
{% endblock %}